*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height:100vh ;
    background-color:black ;
    /* background-color: #2696E8; */
    /* filter: hue-(100px); */
    cursor: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
.main{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main>h1{
    color: aliceblue;
    font-size: 65px;
}
.cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    background-color: #2696E8;
    box-shadow: 0 0 20px #2696E8,0 0 60px #2696E8,0 0 100px #2696E8;
    /* transform: translate(-50%,-50%); */
    pointer-events: none;
    animation-name: colors;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
@keyframes colors{
    0%{
        filter:hue-rotate(0deg) ;
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.cursor::before{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2696E8;
    position:absolute;
    opacity: 0.3;
    transform: translate(-30%,-30%);
}